*{
    padding: 0;
    margin: 0;
}
.servicessub{
    width: 100%;
    height: 40vw;
}
.servicessub .leftlist{
    display: inline-block;
    float:right;
    background-color: beige;
    font-size: 1.4vw;
    width: 24.5%;
    height: 100%;
    border-radius: 10px;
    text-align: right;
}
.leftlist ul{
    list-style-type: none;
    padding: 1vw 0;
}
.leftlist h1{
    font-size: 1.5vw;
    color: black;
    font-family: auto;
    font-weight: bold;
}
.leftlist ul li{
    color: rgb(82, 50, 3);
    padding: .8vw .6vw;
    text-decoration: none;
    cursor: pointer;
    width: 100% !important;
}
.leftlist ul li i{
    margin: .5vw !important;
    padding: 0 !important;
    font-size: 1.2vw !important;
    float: left;
}
.leftlist ul li i span{
cursor: pointer;
padding: 0 !important;

}
.rightservices{
    width: 75.5%;
    background-color: rgb(245, 239, 220);
    /*background: linear-gradient(#3a2602,#665012 );*/
    float: right;
    height: 100%;
}
.contentsubser{
    text-align: center;
  
}
.contentsubser img{
    width: 100%;
    height: 30vw;
}
.ser2show,.ser3show,.ser4show{
    display: none;
}
.contentsubser h4{
    padding: 1vw .5vw .5vw;
    font-size: 1.4vw;
    letter-spacing: 1px;
    color: rgb(77, 57, 4);
    font-family:auto;
}
.activeser{
border: 1px solid rgb(100, 62, 6) !important;
}
.dif1{
    margin-bottom: -1vw !important;
}
.active {
    color: white;
    border: 1px solid white;
    padding: 0.4vw .4vw !important;
    border-radius: 1px;
    margin-left: .8vw !important;
}

.sericon1{
    color: rgb(100, 62, 6);
}
.form-control{
    z-index: 0 !important;
}
.difapp{
    margin-top: 1vw !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
select[size]:focus 
{   
  border-color: rgba(212, 149, 13, 0.8);
  box-shadow: 0 0 4px rgba(61, 48, 3, 0.863) inset, 0px 0 8px rgba(134, 100, 5, 0.6);
  outline: 0 none;
  transition: .2s ease-in-out;
}